body
{
    color: black;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cebecera
{
    background: purple;
    box-shadow: opx 2px 50px 0px black rgba(red, green, blue, alpha);
    color: seashell;
    font-weight: bold;
    margin: 0;
    padding: 9.5cm;
}
#container 
{
    width: 70%;
    padding: lem;
    border: 1px solid blanchedalmond;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}